.container{
  width: 200px;
}
.form{
  align-items: center;
  height: fit-content;
}
.mat-dialog-content{
  overflow: auto;
  height: auto;
}
.mat-dialog-actions{
  padding: 0px;
  margin-bottom: 0px;
}
