mat-form-field {
  width: 320px;
}
.login-form{
  width: 320px;
  background-color: white;
  margin-top: 0px;
}
button{
  width: 300px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
mat-spinner{
  width: 30px;
  height: 30px;
  display: block;
}
label{
  margin-top: 4px;
}
form{
  padding-top: 10%;
}


.center {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.mat-card {
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  display: block;
  position: relative;
  padding: 24px;
  border-radius: 10px;
}

.mat-card-content>:last-child:not(.mat-card-footer),
.mat-card>:last-child:not(.mat-card-footer) {
  margin-bottom: 20px;
  min-width: 100%;
  border-radius: 20px;
}

.mat-card-content>:last-child:not(.mat-card-footer),
.mat-card>:last-child:not(.mat-card-footer) {
  margin-bottom: 0;
}

.mat-fab.mat-accent[disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled] {
  background-color: #335b7f;
}

.mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled] {
  color: white;
}
