<section>
  <div style="padding-top: 50px;" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="login-form">
      <mat-tab-group class="login-form">
        <mat-tab label="Login">
          <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
            <label>Entre com os dados de Login</label>
            <mat-form-field>
              <input type="email" matInput placeholder="Seu email" ngModel name="email" email required #emailInput="ngModel">
              <mat-error *ngIf="emailInput.hasError('required')">Campo não pode estar em branco.</mat-error>
              <mat-error *ngIf="!emailInput.hasError('required')">email não está válido.</mat-error>
            </mat-form-field>
            <mat-form-field hintLabel="Sua senha deve ter no mínimo 6 caracteres.">
              <input type="password" matInput placeholder="Sua Senha" ngModel name="password" required #pwInput="ngModel">
              <mat-error>Não pode estar em branco.</mat-error>
            </mat-form-field>
            <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
            <button mat-button *ngIf="!isLoading" class="resetPass" (click)="resetPassword(loginForm)">Esqueci a senha!</button>
          </form>
        </mat-tab>
        <mat-tab label="Cadastre-se">
          <form #signupForm="ngForm" (ngSubmit)="onSignup(signupForm)">
            <label>Para criar sua conta:</label>
            <br>
            <label>Entre com os dados de Login</label>
            <mat-form-field>
              <input type="email" matInput placeholder="Seu email" ngModel name="email" email required #emailInput="ngModel">
              <mat-error *ngIf="emailInput.hasError('required')">Campo não pode estar em branco.</mat-error>
              <mat-error *ngIf="!emailInput.hasError('required')">Email não está válido.</mat-error>
            </mat-form-field>
            <mat-form-field hintLabel="Sua senha deve ter no mínimo 6 caracteres.">
              <input type="password" matInput placeholder="Sua Senha" ngModel name="password" required minlength="6" #pwInput="ngModel">
              <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
              <mat-error>Deve conter no mínimo 6 caracteres.</mat-error>
            </mat-form-field>
            <label>Você é uma:</label>
            <p>
              <mat-radio-group [(ngModel)]="typePerson" [ngModelOptions]="{standalone: true}">
                <mat-radio-button [value]="'juridica'">Empresa</mat-radio-button>
                <mat-radio-button [value]="'fisica'">Pessoa Fisica</mat-radio-button>
              </mat-radio-group>
            </p>
            <div *ngIf="isReady()">
              <label>Entre com seguintes dados:</label>
              <mat-form-field *ngIf="isPerson()">
                <input type="text" matInput placeholder="Nome" ngModel name="nome" required #nomeInput="ngModel">
                <mat-error *ngIf="nomeInput.hasError('required')">Campo não pode estar em branco.</mat-error>
              </mat-form-field>
              <mat-form-field *ngIf="isCompany()">
                <input type="text" matInput placeholder="Razão Social" ngModel name="razaosocial" required #razaosocialInput="ngModel">
                <mat-error *ngIf="razaosocialInput.hasError('required')">Campo não pode estar em branco.</mat-error>
              </mat-form-field>
              <mat-form-field hintLabel="Entre com o CNPJ da sua Empresa" *ngIf="isCompany()">
                <input type="text" matInput placeholder="CNPJ" ngModel name="cnpj" required minlength="6" #cnpjInput="ngModel">
              </mat-form-field>

              <mat-form-field hintLabel="Entre com o seu CPF" *ngIf="isPerson()">
                <input type="text" matInput placeholder="CPF" ngModel name="cpf" required minlength="6" #cpfInput="ngModel">
              </mat-form-field>
              <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="signupForm.invalid">Cadastrar-se</button>
            </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</section>

<!-- <mat-spinner style="pointer-events: auto;" center middle *ngIf="isLoading"></mat-spinner> -->
