.container{
  width: 400px;
  height: fit-content;
}
.form{
  align-items: center;
  height: fit-content;
}
.mat-dialog-content{
  overflow: auto;
  height: auto;
}
.mat-dialog-actions{
  padding: 0px;
  margin-bottom: 0px;
}
.descProblem{
  height: 100px;
}
.full-width{
  width: 100%;
}
.half-width{
  width: 49%;
}
.mat-dialog-title{
  margin-bottom: 5px;
}
.selClient{
  margin-bottom: 5px;
}
