<div class="container">

  <form class="mat-dialog-content" #formControl="ngForm">
    <h3 mat-dialog-title>Cadastrar Cliente</h3>

    <mat-form-field class="field-full" color="accent">
      <input matInput class="form-control" placeholder="Nome" [(ngModel)]="form.value.name" name="name" required >
      <mat-error *ngIf="formControl.invalid">Campo é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field class="field-full" color="accent">
      <input matInput type="number" class="form-control" placeholder="CNPJ" [(ngModel)]="form.value.cnpj" name="cnpj" required >
      <mat-error *ngIf="formControl.invalid">Campo é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field class="field-full" color="accent">
      <input matInput type="email" class="form-control" placeholder="E-mail" [(ngModel)]="form.value.email" name="email" required >
      <mat-error *ngIf="formControl.invalid">E-mail inválido</mat-error>
    </mat-form-field>

    <mat-form-field class="field-full" color="accent">
      <input matInput type="text" class="form-control" placeholder="Telefone" [(ngModel)]="form.value.phone" name="phone" required >
      <mat-error *ngIf="formControl.invalid">Campo é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field class="field-full" color="accent">
      <input matInput type="text" class="form-control" placeholder="Rua" [(ngModel)]="form.value.street" name="street" >
    </mat-form-field>

    <mat-form-field class="field-full" color="accent">
      <input matInput type="number" class="form-control" placeholder="Número" [(ngModel)]="form.value.number" name="number" >
    </mat-form-field>

    <mat-form-field class="field-full" color="accent">
      <input matInput type="text" class="form-control" placeholder="Complemento" [(ngModel)]="form.value.complement" name="complement" >
    </mat-form-field>

    <mat-form-field class="field-full" color="accent">
      <input matInput type="text" class="form-control" placeholder="Bairro" [(ngModel)]="form.value.district" name="district" >
    </mat-form-field>

    <mat-form-field class="field-full" color="accent">
      <input matInput type="text" class="form-control" placeholder="Cidade" [(ngModel)]="form.value.city" name="city" >
    </mat-form-field>

    <mat-form-field class="field-full" color="accent">
      <input matInput type="text" class="form-control" placeholder="Estado" [(ngModel)]="form.value.state" name="state" >
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="submit(formControl)">Cadastrar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>
