.container{
  width: 400px;
  height: auto;
}
.form{
  align-items: center;
  height: fit-content;
}
.mat-dialog-content{
  overflow: auto;
  height: auto;
}
.mat-dialog-actions{
  padding: 0px;
  margin-bottom: 0px;
}

.field-full {
  width: 100%
}
