<div class="container">

  <form class="mat-dialog-content" #formControl="ngForm">
    <h3 mat-dialog-title>Cadastrar Ordem de Serviço</h3>

    <button mat-button (click)="selectClient()" class="selClient">Selecionar Cliente</button>
    <mat-form-field color="accent" class="full-width">
      <input matInput class="form-control" placeholder="Nome/Razão Social" [(ngModel)]="clientName" name="name" disabled>
    </mat-form-field>

    <mat-form-field class="half-width">
      <mat-select placeholder="Tipo de Produto" (change)="checkType($event.value)" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let type of types | async" [value]="type">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="half-width">
      <mat-select placeholder="Marca" (change)="checkBrand($event.value)" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let brand of brands | async" [value]="brand">
          {{brand.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field color="accent" class="half-width">
      <input matInput class="form-control" placeholder="Modelo" [(ngModel)]="form.value.model" name="model" required >
      <mat-error *ngIf="formControl.invalid">Campo é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field color="accent" class="half-width">
      <input matInput class="form-control" placeholder="Numero de série" [(ngModel)]="form.value.serial" name="serial" required >
      <mat-error *ngIf="formControl.invalid">Campo é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field color="accent" class="full-width">
      <input matInput class="form-control" placeholder="Problema" [(ngModel)]="form.value.problem" name="problem" required >
      <mat-error *ngIf="formControl.invalid">Campo é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field color="accent" class="full-width">
      <textarea matInput class="descProblem" placeholder="Observações" [(ngModel)]="form.value.descProblem" name="descProblem"></textarea>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="submit(formControl)">Cadastrar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>
