<mat-nav-list>
  <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon>perm_identity</mat-icon>
    <span class="nav-caption">Login/Cadastrar</span>
  </a>
  <a mat-list-item routerLink="/orderService" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>content_paste</mat-icon>
    <span class="nav-caption">Ordem de Serviço</span>
  </a>
  <a mat-list-item routerLink="/client" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>supervisor_account</mat-icon>
    <span class="nav-caption">Cliente</span>
  </a>
  <a mat-list-item routerLink="/product" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>laptop</mat-icon>
    <span class="nav-caption">Produto</span>
  </a>
  <a mat-list-item routerLink="/vendors" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>supervisor_account</mat-icon>
    <span class="nav-caption">Fornecedores</span>
  </a>
  <a mat-list-item routerLink="/services" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>room_service</mat-icon>
    <span class="nav-caption">Serviços</span>
  </a>
  <a mat-list-item routerLink="/account" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>account_circle</mat-icon>
    <span class="nav-caption">Minha Conta</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onLogout()" *ngIf="isAuth">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
