<div class="container">
  <form class="mat-dialog-content" #formControl="ngForm">
    <h3 mat-dialog-title>Selecionar Cliente</h3>
    <mat-form-field>
      <input matInput id="input-filter" (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="document">
        <mat-header-cell *matHeaderCellDef>Número documento</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.document}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          <label color="primary" for="selecionar">Selecione</label>
        </mat-header-cell>
        <mat-cell *matCellDef="let element, let i=index;">
          <button mat-icon-button color="accent" (click)="select(element)">
            <mat-icon aria-label="Select">done</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
    </mat-table>

  </form>
</div>
