<div class="container">

    <form class="mat-dialog-content" #formControl="ngForm">
      <h3 mat-dialog-title>Alterar Produto: {{form.value.descriptionOld}}</h3>

      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Modelo" [(ngModel)]="form.value.model" name="model" required>
        <mat-error *ngIf="formControl.invalid">Campo é obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Descrição" [(ngModel)]="form.value.description" name="description" required>
        <mat-error *ngIf="formControl.invalid">Campo é obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Marca" (change)="checkBrand($event.value)" [compareWith]="compareBrandFn" [(value)]="selectedBrand" required>
          <mat-option *ngFor="let brand of brands | async" [value]="brand">
            {{brand.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Tipo de Produto" (change)="checkType($event.value)" [compareWith]="compareProductTypeFn" [(value)]="selectedType" required>
          <mat-option *ngFor="let type of types | async" [value]="type">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Preço de Custo" [(ngModel)]="form.value.priceCost" name="priceCost" required>
        <mat-error *ngIf="formControl.invalid">Campo é obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Preço" [(ngModel)]="form.value.price" name="price" required>
        <mat-error *ngIf="formControl.invalid">Campo é obrigatório</mat-error>
      </mat-form-field>

      <div mat-dialog-actions>
        <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="submit(formControl)">Salvar
        </button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
      </div>
    </form>
  </div>
