<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
<img routerLink="/welcome" src="../../../assets/images/navbarlogo.jpg" style="border-radius:30px; margin-top:9px; margin-left:80px"
  width="50">

  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!isAuth">
        <button mat-button routerLink="/login">Login/Cadastrar</button>
      </li>
      <li *ngIf="isAuth">
        <button mat-button routerLink="/orderService">Ordem de Serviço</button>
      </li>
      <li *ngIf="isAuth">
        <button mat-button routerLink="/client">Cliente</button>
      </li>
      <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="isAuth">
        Produto
      </button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/product">Produtos</button>
        <button mat-menu-item routerLink="/product-type">Tipos de Produto</button>
        <button mat-menu-item routerLink="/brand">Marcas</button>
      </mat-menu>
      <li *ngIf="isAuth">
        <button mat-button routerLink="/services">Serviços</button>
      </li>
      <li *ngIf="isAuth">
        <button mat-button routerLink="/vendors">Fornecedores</button>
      </li>
      <li *ngIf="isAuth">
        <button mat-button routerLink="/account">Minha Conta</button>
      </li>
      <li *ngIf="isAuth">
        <button mat-button style="cursor: pointer" (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </div>
</mat-toolbar>
