.slogan {
  font-size: 60px;
  padding-top: 20px;
}
.panel-body {
  padding: 15px
}

.mat-card-content {

}
.container-data-table {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.header-service-table {
  min-height: 64px;
  padding: 8px 24px 0;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.sub-slogan {
  align-self: center;
  font-size: 26px;
  margin: 0 16px;
  padding-top: 24px;
}

.wrap {
  height: 100%;
  overflow: hidden;
}

.body {
  overflow: hidden;
}



