<div class="sub-slogan">
  <div class="container-data-table mat-elevation-z8 table-container">
    <div class="header-service-table">
      <mat-form-field>
        <input matInput id="input-filter" (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="nos">
        <mat-header-cell *matHeaderCellDef> Numero da OS</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index"> 0000{{i + 1}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="clientName">
        <mat-header-cell *matHeaderCellDef> Cliente</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.client.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="productModel">
        <mat-header-cell *matHeaderCellDef> Modelo Equipamento</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.model}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef> Criado em</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdDate  | date : 'dd/MM/yyyy'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="totalValue">
        <mat-header-cell *matHeaderCellDef> Total do Serviço</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.totalValue | currency:'BRL':true}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="add()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
          <label color="primary" for="adicionar serviço">Adicionar serviço</label>
        </mat-header-cell>
        <mat-cell *matCellDef="let element, let i=index;">
          <button mat-icon-button color="accent" (click)="update(element)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>

