<div class="container">

  <form class="mat-dialog-content" #formControl="ngForm">
    <h3 mat-dialog-title>Alterar Marca: {{form.value.nameOld}}</h3>

      <mat-form-field color="accent">
        <input matInput class="form-control" placeholder="Nome" [(ngModel)]="form.value.name" name="name" required >
        <mat-error *ngIf="formControl.invalid">Campo é obrigatório</mat-error>
      </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="submit(formControl)">Salvar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>
