.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.slogan {
  font-size: 60px;
  padding-top: 160px;
}

 .sub-slogan {
   align-self: center;
   font-size: 26px;
   margin: 0 16px;
   padding-top: 24px;
 }

  .to-be-together-section {
    height: 350px;
  }
.android-content {
  overflow: hidden;
}

.center{
  display:table;
  position: absolute;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.middle {
  display:table-cell;
  vertical-align: middle;
}

.slogan img {
  height: 250px;
}
