
<div style='position:relative; top:0px; left:0px;'>
  <div style='position:relative; top:0px; left:0px;'>
  <div class="android-content mdl-layout__content">
    <a name="top"></a>
    <div class="center">
      <div class="middle">
        <div class="to-be-together-section mdl-typography--text-center">
          <div class="logo-font slogan"><img src="../../../assets/images/logowelcome.svg"></div>
          <div class="logo-font sub-slogan"><p>Querido usuário, nós desenvolvemos essa plataforma pensando em você.</p> <p>Conheça e faça seu cadastro</p> </div>
        </div>
      </div>
    </div>
</div>
