<div class="container">

  <form class="mat-dialog-content" #formControl="ngForm">
    <h6 mat-dialog-title>Deseja deletar Marca: {{form.value.name}}</h6>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="submit()">Deletar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>
