<div class="sub-slogan">
  <div class="container-data-table mat-elevation-z8 table-container">
    <div class="header-brand-table">
      <mat-form-field>
        <input matInput id="input-filter" (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Marca</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef>Data de criação</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdDate | date : 'dd/MM/yyyy HH:mm'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="add()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
          <label color="primary" for="adicionar marca">Adicionar marca</label>
        </mat-header-cell>
        <mat-cell *matCellDef="let element, let i=index;">
          <button mat-icon-button color="accent" (click)="update(i, element.id, element.name, element.value)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>

          <button mat-icon-button color="accent" (click)="delete(element.id, element.name)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>

