/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin:0;
}

.mat-toolbar.mat-primary {
  background: #0984e3;
  color: #fff;
}


::-moz-selection {
  background-color: #325c80;
  color: #fff;
}

::selection {
  background-color: #325c80;
  color: #fff;
}
