<form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <mat-card class="signup-form">
    <label>Altere seus dados</label>
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Seu email"
        ngModel
        name="email"
        email
        required
        value="{{ (userobs | async)?.email }}"
        #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Campo não pode estar em branco.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">email não está válido.</mat-error>
    </mat-form-field>
      <p>Para terminar o cadastro da sua conta:</p>
      <p>Você é uma:</p>
      <p>
      <mat-radio-group>
          <mat-radio-button [checked]="(userobs | async)?.tipoPessoa != 'fisica'" (click)="setCompany()" name="empresa">Empresa</mat-radio-button>
          <mat-radio-button [checked]="(userobs | async)?.tipoPessoa == 'fisica'" (click)="setPerson()" name="fisico">Pessoa Fisica</mat-radio-button>
      </mat-radio-group>
     </p>
      <label>Entre com seguintes dados:</label>
      <mat-form-field *ngIf="(userobs | async)?.tipoPessoa == 'fisica'">
        <input
          type="text"
          matInput
          placeholder="Nome"
          ngModel
          value="{{ (userobs | async)?.nome }}"
          name="nome"
          required
          #nomeInput="ngModel">
        <mat-error *ngIf="nomeInput.hasError('required')">Campo não pode estar em branco.</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="(userobs | async)?.tipoPessoa != 'fisica'">
       <input
         type="text"
         matInput
         placeholder="Razão Social"
         ngModel
         value="{{ (userobs | async)?.nome }}"
         name="razaosocial"
         required
         #razaosocialInput="ngModel">
       <mat-error *ngIf="razaosocialInput.hasError('required')">Campo não pode estar em branco.</mat-error>
     </mat-form-field>
      <mat-form-field hintLabel="Entre com o CNPJ da sua Empresa" *ngIf="(userobs | async)?.tipoPessoa != 'fisica'">
        <input
          type="text"
          matInput
          placeholder="CNPJ"
          ngModel
          name="cnpj"
          value="{{ (userobs | async)?.doc }}"
          required
          minlength="6"
          #cnpjInput="ngModel">
      </mat-form-field>

      <mat-form-field hintLabel="Entre com o seu CPF" *ngIf="(userobs | async)?.tipoPessoa == 'fisica'">
         <input
           type="text"
           matInput
           placeholder="CPF"
           ngModel
           name="cpf"
           value="{{ (userobs | async)?.doc }}"
           required
           minlength="6"
           #cpfInput="ngModel">
       </mat-form-field>
    <button type="submit" mat-raised-button >Salvar</button>
  </mat-card>
</form>

