mat-form-field {
  width: 350px;
}

.signup-form {
  width: 350px;
}

button {
  width: 300px;
}

label {
  margin-top: 4px;
}

form {
  padding-top: 10%;
}

.mat-card {
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  display: block;
  position: relative;
  padding: 24px;
  border-radius: 20px;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 1px -2px rgb(50, 92, 128), 0 2px 2px 0 rgb(50, 92, 128), 0 1px 5px 0 rgb(50, 92, 128);
}

.mat-card-content>:last-child:not(.mat-card-footer),
.mat-card>:last-child:not(.mat-card-footer) {
  margin-bottom: 20px;
  min-width: 100%;
  border-radius: 10px;
}

.mat-card-content>:last-child:not(.mat-card-footer),
.mat-card>:last-child:not(.mat-card-footer) {
  margin-bottom: 0;
  margin-top: 20px;
  background: #325c80;
  color: #fff;
}
